{%extends 'base.html'%}
{%load static%}
{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        <img style="width:50%;   display: block;
        margin-left: auto;
        margin-right: auto;
        
        "src="https://i.pinimg.com/originals/f2/99/22/f29922e1e1e489cce8b052928c3f3f24.gif" alt="check"class="rounded-circle"><br>
  <h1 class="text-center" style="font-family:'Lobster Two',sans-serif">Rate now</h1>
<ul class="rate-area">
<h5>DESIGN</h5>
  <input type="radio" id="5-star" name="rating" value="5" /><label for="5-star" title="Amazing❤‍">5 stars</label>

  <input type="radio" id="4-star" name="rating" value="4" /><label for="4-star" title="Good❤️‍">4 stars</label>

  <input type="radio" id="3-star" name="rating" value="3" /><label for="3-star" title="Average">3 stars</label>

  <input type="radio" id="2-star" name="rating" value="2" /><label for="2-star" title="Not Good">2 stars</label>

  <input type="radio" id="1-star" name="rating" value="1" /><label for="1-star" title="Bad">1 star</label>

</ul>
<ul class="rate-area">
    <h5>USABILITY</h5>
      <input type="radio" id="5-star" name="rating" value="5" /><label for="5-star" title="Amazing❤‍">5 stars</label>
    
      <input type="radio" id="4-star" name="rating" value="4" /><label for="4-star" title="Good❤️‍">4 stars</label>
    
      <input type="radio" id="3-star" name="rating" value="3" /><label for="3-star" title="Average">3 stars</label>
    
      <input type="radio" id="2-star" name="rating" value="2" /><label for="2-star" title="Not Good">2 stars</label>
    
      <input type="radio" id="1-star" name="rating" value="1" /><label for="1-star" title="Bad">1 star</label>
    
    </ul>
    <ul class="rate-area">
        <h5>CONTENT</h5>
          <input type="radio" id="5-star" name="rating" value="5" /><label for="5-star" title="Amazing❤‍">5 stars</label>
        
          <input type="radio" id="4-star" name="rating" value="4" /><label for="4-star" title="Good❤️‍">4 stars</label>
        
          <input type="radio" id="3-star" name="rating" value="3" /><label for="3-star" title="Average">3 stars</label>
        
          <input type="radio" id="2-star" name="rating" value="2" /><label for="2-star" title="Not Good">2 stars</label>
        
          <input type="radio" id="1-star" name="rating" value="1" /><label for="1-star" title="Bad">1 star</label>
        
        </ul>
        <input type="submit" class="btn btn-success btn-lg" value="Post">
</div>
</div>
 

<footer>
<div class="footer">
<div class="container">

<div class= "row">
<div class="col-md-4">

<h1 style="font-family:'Lobster Two',sans-serif">
API
</h1>
<a href="http://127.0.0.1:8000/api/profile/Profile">Profile</a>
<br>
<a href="http://127.0.0.1:8000/api/project/">Projects</a>
</div>
<div class="col-md-4">
<h1 style="font-family:'Lobster Two',sans-serif">
Contact us
</h1>
<p>Contacts</p>
</div>
<div class="col-md-4">
<h1 style="font-family:'Lobster Two',sans-serif">
Know more of API
</h1>
<p>Know more</p>
</div>
</div>
</div>
</div>
</footer>
<style>
     body{font-family :'Gentium Basic', serif;
    }
    .footer{
background-color:lightblue;
}
 
.rate-area {

  float: left;

  border-style: none;

}

 

.rate-area:not(:checked) > input {

  position: absolute;

  top: -9999px;

  clip: rect(0,0,0,0);

}

 

.rate-area:not(:checked) > label {

  float: right;

  width: 1em;

  padding: 0 .1em;

  overflow: hidden;

  white-space: nowrap;

  cursor: pointer;

  font-size: 400%;

  line-height: 1.2;

  color: lightgrey;

  text-shadow: 1px 1px #bbb;

}
 

.rate-area:not(:checked) > label:before { content: '★ '; }

 

.rate-area > input:checked ~ label {

  color: gold;

  text-shadow: 1px 1px #c60;

  font-size: 450% !important;

}

 

.rate-area:not(:checked) > label:hover, .rate-area:not(:checked) > label:hover ~ label { color: gold; }

 

.rate-area > input:checked + label:hover, .rate-area > input:checked + label:hover ~ label, .rate-area > input:checked ~ label:hover, .rate-area > input:checked ~ label:hover ~ label, .rate-area > label:hover ~ input:checked ~ label {

  color: gold;

  text-shadow: 1px 1px goldenrod;

}

 

.rate-area > label:active {

  position: relative;

  top: 2px;

  left: 2px;

}
</style>
{% endblock %}